@font-face {
    font-family: "Crimson Pro";
    src: url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
    font-optical-sizing: auto;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}
:root {
    --heading-font: "Crimson Pro", serif;
    --text-font: "Montserrat", sans-serif;
    --neutral-0: 23, 26, 28;
    --neutral-1: 38, 43, 46;
    --neutral-2: 52, 59, 64;
    --neutral-3: 72, 80, 85;
    --neutral-4: 95, 104, 109;
    --neutral-5: 112, 127, 136;
    --neutral-6: 134, 142, 147;
    --neutral-7: 156, 164, 169;
    --neutral-8: 183, 191, 196;
    --neutral-9: 219, 223, 225;
    --primary-0: 30, 75, 84;
    --primary-1: 40, 100, 111;
    --primary-2: 50, 124, 139;
    --primary-3: 60, 149, 167;
    --primary-4: 75, 170, 190;
    --primary-5: 101, 183, 199;
    --primary-6: 126, 195, 209;
    --primary-7: 194, 220, 222;
    --primary-8: 225, 237, 238;
    --secondary-0: 48, 107, 87;
    --secondary-1: 66, 147, 120;
    --secondary-2: 89, 181, 151;
    --secondary-3: 113, 191, 165;
    --secondary-4: 137, 202, 180;
    --secondary-5: 160, 213, 195;
    --secondary-6: 196, 228, 218;
    --accent-0: 195, 71, 46;
    --accent-1: 212, 94, 70;
    --accent-2: 218, 116, 96;
    --accent-3: 224, 139, 122;
    --accent-4: 233, 174, 162;
}
[data-theme="light"] {
    --heading-font: "Crimson Pro", serif;
    --text-font: "Montserrat", sans-serif;
    --background: 20, 23, 25;
    --text: 222, 226, 227;
    --primary: 92, 174, 178;
    --secondary: 124, 182, 159;
    --accent: 229, 132, 108;
    --background-25: 20, 25, 24, .25;
    --background-50: 20, 25, 24, .5;
    --background-75: 20, 25, 24, .75;
    --background-90: 20, 25, 24, .9;
    --text-25: 222, 226, 227, .25;
    --text-50: 222, 226, 227, .5;
    --text-75: 222, 226, 227, .75;
    --text-90: 222, 226, 227, .9;
    --primary-25: 92, 174, 178, .25;
    --primary-50: 92, 174, 178, .5;
    --primary-75: 92, 174, 178, .75;
    --primary-90: 92, 174, 178, .9;
    --secondary-25: 124, 182, 159, .25;
    --secondary-50: 124, 182, 159, .5;
    --secondary-75: 124, 182, 159, .75;
    --secondary-90: 124, 182, 159, .9;
    --accent-25: 229, 132, 108, .25;
    --accent-50: 229, 132, 108, .5;
    --accent-75: 229, 132, 108, .75;
    --accent-90: 229, 132, 108, .9;
}
:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--heading-font);
    color: rgb(var(--text));
}
body, html, main {
    font-family: var(--text-font);
    text-align: center;
    background-color: rgb(var(--neutral-0));
    color: rgb(var(--neutral-9));
}

/* --- RESPONSIVE ADJUSTMENTS --- */
@media (max-width: 768px) {
    h1 { font-size: 12vw; }
    h2 { font-size: 8vw; }
    h3 { font-size: 6vw; }
    h4 { font-size: 5vw; }
    p { font-size: 3vw; }
    .nav a { font-size: 3vw; }
}

/* ---- HEADER ---- */
header {
    background-color: rgb(var(--neutral-0));
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px 5px 25px;
    align-items: center;
}
.logo {
    justify-content: flex-start;
}
.logo img[src="assets/primary-logo.png"] {
    width: 11vw;
    height: auto;
    margin: -6.2vh -5vw;
}
nav {
    justify-content: flex-end;
}
nav a {
    padding: .5vh 1vw;
    text-decoration: none;
    color: rgb(var(--neutral-9));
    font-family: var(--text-font);
    font-size: 18px;
    margin: 0 .2vw;
}
nav a:hover, nav a:active {
    border-radius: 5px;
    background-color: rgba(var(--primary-2));
    box-shadow: 1px 1px 6px rgba(var(--neutral-9), .8);
}

/* ---- MAIN ---- */
section {
    min-height: 100vh;
}
.container {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 14vh;
    padding: 4vh;
}
h2 {
    font-size: 7vh;
}
h3 {
    font-size: 5vh;
}
h4 {
    font-size: 3.2vh;
}
p {
    padding: 2.5vh;
    font-size: 3.5vh;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* ---- HOME ---- */
#home {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 1;
}
.btn {
    background: linear-gradient(90deg, rgb(var(--primary-3)), rgba(var(--secondary-3)));
    color: rgb(var(--neutral-1));
    font-weight: 600;
    font-size: 1.1rem;
    padding: 1.6vh 2.2vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(var(--neutral-5));
    font-family: var(--text-font);
    margin-top: 1vh;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(var(--neutral-6));
}
.gradient-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
.gradient-sphere {
    position: absolute;
    border-radius: 50%;
    filter: blur(60px);
}
.sphere-1 {
    width: 55vw;
    height: 55vw;
    background: linear-gradient(100deg, rgba(var(--primary-0), .8), rgba(var(--primary-4), .6));
    top: -10%;
    left: -10%;
    animation: float-1 15s ease-in-out infinite alternate;
}
.sphere-2 {
    width: 35vw;
    height: 35vw;
    background: linear-gradient(240deg, rgba(var(--secondary-1), .6), rgba(var(--secondary-4), .4));
    bottom: -5%;
    right: -10%;
    animation: float-2 18s ease-in-out infinite alternate;
}
.sphere-3 {
    width: 15vw;
    height: 15vw;
    background: linear-gradient(120deg, rgba(var(--neutral-3), 0.6), rgba(var(--neutral-6), .7));
    top: 20%;
    left: 65%;
    animation: float-3 20s ease-in-out infinite alternate;
}
@keyframes float-1 {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(10%, 10%) scale(1.1);
    }
}
@keyframes float-2 {
    0% {
        transform: translate(0, 0) scale(1);
    }
    100% {
        transform: translate(-10%, -5%) scale(1.15);
    }
}
@keyframes float-3 {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 0.3;
    }
    100% {
        transform: translate(-5%, 10%) scale(1.05);
        opacity: 0.6;
    }
}
.glow {
    position: absolute;
    width: 40vw;
    height: 40vh;
    background: radial-gradient(circle, rgba(var(--neutral-2)), transparent 70%);
    top: 75%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: pulse 8s infinite alternate;
    filter: blur(30px);
}
@keyframes pulse {
    0% {
        opacity: 0.3;
        transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
        opacity: 0.7;
        transform: translate(-50%, -50%) scale(1.1);
    }
}
.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}
.particle {
    position: absolute;
    background: rgb(var(--neutral-8));
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}
#home .container {
    z-index: 2;
}
#home h1 {
    text-shadow: 0 0 15px rgba(var(--neutral-2));
}


/* ---- SKILLS ---- */
#skills {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(var(--neutral-0));
    position: relative;
    z-index: 4;
    top: 100vh;
}
.skills-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2vh;
    margin: 4vh;
}
.skills-grid i {
    border: rgb(var(--neutral-6)) 2px solid;
    border-radius: 10px;
    font-size: 6.5vw;
    padding: 1.25vh;
    margin: 0 -.5vh;
}
.skills-grid i:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(var(--primary-2));
    color: rgb(var(--primary-3));
    border-color: rgb(var(--primary-3));
}


/* ---- PROJECTS ---- */
#projects {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url("assets/blackgreenblue_crop.png");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 4;
    top: 100vh;
    padding: 10vh;
}
#projects .overlay {
    background: linear-gradient(120deg, rgba(var(--neutral-0), .8), rgba(var(--primary-2), .8), rgba(var(--secondary-2), .8));
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
}
#projects .container {
    position: relative;
}
.project-grid {
    display: grid;
    row-gap: 5vh;
    margin-top: 4vh;
}
.project-card {
    background-color: rgba(var(--primary-3), .7);
    border-radius: 12px;
    padding: 5vh 2vw;
    box-shadow: 2px 6px 20px rgba(var(--neutral-0), .8);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(var(--neutral-9));
}
.card-l {
    grid-template-columns: 1.5fr 2fr;
    justify-content: center;
    align-items: center;
}
.card-r {
    grid-template-columns: 2fr 1.5fr;
    justify-content: center;
    align-items: center;
}
.project-card a {
    background-color: rgba(var(--neutral-5));
    padding: .5vh .8vw;
    border-radius: 10px;
    margin: 1vh;
    margin-top: 2vh;
    font-size: 2.5vh;
    box-shadow: 1px 3px 8px rgba(var(--neutral-1), .9);
    display: flex;
    flex-direction: column;
    color: rgb(var(--neutral-9))
}
.project-card a:hover {
    transform: translateY(-1.5px);
    box-shadow: 2px 4px 10px rgba(var(--neutral-0), .9);
}
.project-card p {
    font-size: 3vh;
    margin-bottom: -1.5vh;
}
.project-card i {
    font-size: 6.5vh;
    padding: .7vh;
    margin: 0 .5vw;
    margin-bottom: .5vh;
    background-color: rgba(var(--neutral-5));
    padding: 1vh 1vw;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(var(--neutral-1), .9);
    display: inline-block;
}
.project-card i:hover {
    transform: translateY(-1.5px);
    box-shadow: 2px 4px 10px rgba(var(--neutral-0), .9);
}
.clicky-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ---- RESUME ---- */
#resume {
    height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: rgb(var(--neutral-0));
    position: relative;
    z-index: 6;
    top: 100vh;
    padding: 10vh;
    padding-bottom: -30px;
    margin-bottom: -20px;
}
#resume a {
    text-decoration: none;
    color: rgba(var(--primary-3));
    cursor: pointer;
    margin: 6vh;
    padding: .6vh 1vw;
    font-size: 2.6vh;
    font-weight: 450;
}
#resume a:hover {
    color: rgba(var(--neutral-9));
    background-color: rgba(var(--primary-3), .8);
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba(var(--neutral-4));
}
#timeline {
    width: 100%;
    height: 100vh;
}
#timeline ul {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    border-left: 4px solid transparent;
    border-left-color: rgba(var(--primary-3));
    -webkit-border-image: -webkit-linear-gradient( 
    top, 
    rgb(var(--primary-5)) 0%,
    rgb(var(--primary-4)) 30%,
    rgb(var(--primary-3)) 50%,
    rgb(var(--primary-2)) 70%,
    rgb(var(--primary-1)) 100%);
    border-image: linear-gradient( 
    to bottom, 
    rgb(var(--primary-7)) 0%,
    rgb(var(--primary-5)) 30%,
    rgb(var(--primary-3)) 50%,
    rgb(var(--primary-1)) 70%,
    rgb(var(--primary-0)) 100%);
    border-image-slice: 1;
    left: 50%;
    position: relative;
    list-style: none;
    justify-content: space-evenly;
}

#timeline ul li:after {
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: -23px;
}
#timeline ul li:after {
    content: '';
    display: block;
    border-radius: 50%;
    background-image: url("assets/dark-logo.png");
    background-size: 95px 95px;
    background-position: center;
    position: absolute;
}
#timeline ul li:nth-child(1):after {
    background-color: rgba(var(--primary-5));
    top: 6%;
}
#timeline ul li:nth-child(2):after {
    background-color: rgba(var(--primary-4));
    top: 26%;
}
#timeline ul li:nth-child(3):after {
    background-color: rgba(var(--primary-3));
    top: 46%;
}
#timeline ul li:nth-child(4):after {
    background-color: rgba(var(--primary-2));
    top: 66%;
}
#timeline ul li:nth-child(5):after {
    background-color: rgba(var(--primary-1));
    top: 86%;
}

#timeline ul li .timeline-item {
    width: 45%;
    padding: 0 1.5vw;
    padding-top: 1.6vh;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    box-shadow: 1px 3px 10px rgba(var(--neutral-4), .7);

}
#timeline ul li:nth-child(1) .timeline-item {
    border: 2px solid rgba(var(--primary-5));
}
#timeline ul li:nth-child(2) .timeline-item {
    border: 2px solid rgba(var(--primary-4));
}
#timeline ul li:nth-child(3) .timeline-item {
    border: 2px solid rgba(var(--primary-3));
}
#timeline ul li:nth-child(4) .timeline-item {
    border: 2px solid rgba(var(--primary-2));
}
#timeline ul li:nth-child(5) .timeline-item {
    border: 2px solid rgba(var(--primary-1));
}
#timeline ul li:nth-child(odd) .timeline-item {
    background: linear-gradient(100deg, rgba(var(--neutral-0), .8), rgba(var(--neutral-2), .7));
    margin-left: 3vw;
    text-align: left;
}
#timeline ul li:nth-child(even) .timeline-item {
    background: linear-gradient(100deg, rgba(var(--neutral-2), .7), rgba(var(--neutral-0), .8));
    left: -49%;
    text-align: right;
}

#timeline ul li .timeline-item .resume-title {
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    font-size: 4.4vh;
    font-weight: 450;
}
#timeline ul li .timeline-item .resume-text {
    max-height: 0;
    margin-bottom: -18px;
    overflow: hidden;
    font-size: 3vh;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    transition-timing-function: linear;
}
#timeline ul li .timeline-item:hover .resume-text {
    max-height: 30vh;
    margin-bottom: 3px;
}

#timeline ul li:first-child .timeline-item { top: 4% }
#timeline ul li:nth-child(2) .timeline-item { top: 24% }
#timeline ul li:nth-child(3) .timeline-item{ top: 44% }
#timeline ul li:nth-child(4) .timeline-item { top: 64% }
#timeline ul li:nth-child(5) .timeline-item { top: 84% }


/* ---- CONTACT ---- */
#background {
    height: 100vh;
    z-index: 3;
    background-color: rgba(var(--neutral-5));
    position: relative;
    top: 100vh;
}
#contact {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: url("assets/dark-logo.png") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    z-index: 5;
    margin-bottom: -100vh;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(var(--neutral-1), .9);
    box-shadow: 2px 4px 15px rgba(var(--neutral-0));
    border-radius: 10px;
    padding: 0 3.5vh 4vw;
    margin-top: 3vh;
    z-index: 7;
}
form label {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
    font-size: 3vh;
}
input, textarea {
    border-radius: 6px;
    border: none;
    font-size: 2.7vh;
    padding: 1vh 1.5vh;
    width: 50vw;
    box-shadow: 1px 2px 12px rgba(var(--neutral-0), .7);
    font-family: var(--text-font);
    background-color: rgba(var(--neutral-9), .9);
}
input {
    height: 6vh;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 1.5px 3px 10px rgba(var(--neutral-8), .8);
    color: rgb(var(--neutral-0));
    padding: 1vh 1.5vh;
    font-family: var(--text-font);
    font-size: 2.7vh;
    padding: 1vh 1.5vh;
}
textarea {
    text-decoration: none;
    height: 15vh;
    resize: none;
}
form button {
    margin-top: 3vh;
    padding: 1vh;
    border-radius: 5px;
    border: none;
    background-color: rgba(var(--primary-3));
    color: rgb(var(--neutral-0));
    font-family: var(--text-font);
    font-size: 2.5vh;
    font-weight: 500;
    box-shadow: 1px 3px 10px rgba(var(--neutral-0), .8);
}
form button:hover {
    background-color: rgba(var(--primary-5));
    color: rgb(var(--neutral-0));
    cursor: pointer;
    transform: translateY(-1.5px);
    font-family: var(--text-font);
    font-size: 2.5vh;
    font-weight: 500;
    box-shadow: 1px 3px 15px rgba(var(--neutral-0));
}



/* ---- FOOTER ---- */
#footer {
    width: 100%;
    overflow-x: hidden;
    background-color: rgba(var(--neutral-0));
    position: relative;
    z-index: 6;
    top: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 25px;
}
#footer p { 
    font-size: 2.5vh; 
    word-spacing: 2px;
}
#footer i {
    font-size: 4vh;
    padding: 4px;
    margin-top: 5px;
    color: rgba(var(--neutral-9));
}
#footer i:hover {
    color: rgba(var(--primary-3));
}

